@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    font-family: 'Quicksand',Figtree,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji", sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem 0.8rem;
    border-bottom: 1px solid;
    border-top:1px solid;
    border-color: rgb(209 213 219);

}

.slide-fade-enter-active {
    transition: all 100ms ease-out;
}

.slide-fade-leave-active {
    transition: all 100ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(100px);
    opacity: 0;
}

/* Slide Up */
.slide-up-enter-active {
    transition: all 100ms cubic-bezier(0, 1, 0.5, 1);
}

.slide-up-leave-active {
    transition: all 100ms cubic-bezier(0, 1, 0.5, 1);
}

.slide-up-enter-from,
.slide-up-leave-to {
    transform: translateY(200px);
    opacity: 0;
}

/* notify */
.notify-enter-active {
    transition: all 300ms cubic-bezier(0, 1, 0.5, 1);
}

.notify-leave-active {
    transition: all 300ms cubic-bezier(0, 1, 0.5, 1);
}

.notify-enter-from,
.notify-up-leave-to {
    transform: translateX(200px);
    opacity: 0;
}
