@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {font-size: 18px;}
img {max-width: 100%; height: auto; margin: 1em 0;}
h2, h3, h4, h5, p, ul, ol, blockquote {margin: 1em}
table {border-collapse: collapse;}
th, td {padding: 0.5em; border: 1px solid #999}
blockquote {background: #eee; color: #666; padding: 1em; border-radius: 1em}
